.title {
font-family: 'Comfortaa';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 40px;
display: flex;
align-items: center;
letter-spacing: -0.015em;
color: #000000;
}

.box-align {
    display: flex;
    flex-direction: column;
    height: 300px;
    justify-content: space-evenly;
}

.code {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    /* or 112% */

    text-align: center;

    color: #000000;
}

.main-view {
    display: flex;
    flex-direction: column;
    height: 300px;
    justify-content: space-evenly;
}